[build]
  command = "npm run build"
  publish = "dist"
  base = "."

[[redirects]]
  from = "/contact?success=true#contact"
  to = "/?success=true#contact"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200